
/*Helpers*/
.clear{clear: both;}



/*Resets*/
a:hover{
    text-decoration: none;

}



/*Colors*/




/*Fonts Sizes*/



/*BackGrounds*/

/****************************
Layout
*****************************/
/*Header*/
.header{
    padding: 20px 5px;


    width:100%;

}

.img-logo{
    margin-top: 26px;
    transition: max-width 0.2s, max-height 0.2s;
    width: 100%;
    max-width: 210px;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.img-logo:hover{
    transition: max-width 0.2s, max-height 0.2s;
    margin-top: 26px;
    max-width: 225px;
    width: auto;
    height: auto;
}

.form-search{
    margin-top: 26px;
}

.form-search-input{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display:inline;
    width:75%;
    height: auto;


}

button.btn-search{
    background: #000000;
    color: #FFFFFF;
    margin-top: 26px;
    display:inline;
    width:20%;
    height: auto;
    transition: width 0.2s;
}

button.btn-search:hover{
    width: 23%;
    text-align: center;
    transition: width 0.2s;
    margin-top: 26px;
    height: auto;
}

button.btn-search{
    background: #000000;
    color: #FFFFFF;
    margin-top: 26px;
    display:inline;
    width:20%;
    height: auto;
    transition: width 0.2s;
    border: 2px solid #FFFFFF;
}

button.btn-search:hover{
    width: 23%;
    text-align: center;
    transition: width 0.2s;
    margin-top: 26px;

    height: auto;
}

.tema{
    background: #000000;
    padding: 2px 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    transition: padding 0.2s, background 0.2s;
    text-decoration: none;
    border: 2px solid #FFFFFF;
}

.tema:hover{
    background: #fb503b;
    padding: 2px 15px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;

    width: auto;
    height: auto;
    transition: padding 0.2s, background 0.2s;
    text-decoration: none;
}

.entrar{
    background: #000000;
    padding: 2px 6px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    margin-top: 50px;
    width: 10%;
    height: 10%;
    transition: padding 0.2s;
    text-decoration: none;
    border: 2px solid #FFFFFF;
}

.entrar:hover{
    background: #000000;
    color: #FFFFFF;
    padding: 2px 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    margin-top: 50px;
    width: 20%;
    height: 10%;
    transition: padding 0.2s;
    text-decoration: none;
}

.login{
    background: #000000;
    padding: 10px 24px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 26px;
    position: absolute;
    top: 20px;
    right: 60px;
}



/*Section Albuns*/
section.albuns{
    width: 100%;
}

.title{
    font-size: 25px;
    font-family: OpenSans;
    color: #FFFFFF;
}

.list-albuns{
color: #FFFFFF;
}

.img-album{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border: 1px solid #FFFFFF;
}

.title-album{
    font-size: 20px;
    margin: 4px 0px;
    color: #ffffff;
    text-align: center;
    float: left;
    width: 100%;
}

.album{
    float: left;
    text-decoration: none;
    min-height: 174px;
}



.hr{

    border: 2px solid #ffffff;
}

/*section estilos*/
.estilos{

}

.estilos-mu{
    color: #FFFFFF;
}

.estilo{

}



.coluna-estilos{
    float: left;
    right: 15px;
}

a.estilo{
    margin: 5px 6px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    transition: font-size 0.2s;
}

a.estilo:hover{
    color: #FFFFFF;
    font-size: 20px;
    transition: font-size 0.2s;
}

/*Footer*/
.footer{
    background: #000000;
    padding: 20px;
}

.text-footer{
    color: #FFF;
    font-weight: bold;
}

.social a{
    color: #d42256;
    font-size: 25px;
    font-weight: bold;
    margin: 8px;
    transition: font-size 0.2s, font-size 0.2s;
}

.social a:hover{
    color: #d42256;
    font-size: 30px;
    font-weight: bold;
    margin: 8px;
    transition: font-size 0.2s, font-size 0.2s;
}

.list-musicas{
    float: left;
}

.image-albuns{
    float: left;
    position: relative;
}

.img-album{
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: width 0.2s, height 0.2s;
}

.img-album:hover{
    width: 120%;
    height: 230px;
    z-index: 0;
    object-fit: contain;
    position: relative;
    transition: width 0.2s, height 0.2s;
}

.hover-img-album{
    position: absolute;
    z-index: 1;
    width: 10%;
    float: left;
    top: 0;
    text-align: center;
    height: 100%;
    background: #ff624a;
    opacity: 0;
}

.hover-img-album:hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
.hover-img-album i{
    color: #fff;
    font-size: 30px;
    background: #000000;
    padding: 10px;
    border-radius: 100%;
    margin-top: 20%;
}
.hover-img-album i:hover{
    color: #000000;
}

.bg{
    background-color: #000000;
}
